@import "plain.scss";

body {
  font: Georgia,"Raleway", sans-serif;
}

main .about img {
  border-radius: 50%;
}

.vm-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .vm-images__image {
    width: 47%;
  }
}

@media screen and (max-width: 768px){
  .vm-images {
    flex-direction: column;
    
    .vm-images__image {
      width: 100%;

      & + .vm-images__image {
        margin-top: 16px;
      }
    }
  }
}