---
// import { MarkdownInstance, MDXInstance } from 'astro/dist/@types/astro';
import Section from './Section.astro';
import Project from './Project.astro';

// interface Props {
// 	posts: (MarkdownInstance<any> | MDXInstance<any>)[];
// }

// const { posts } = Astro.props;
---

<Section>
	<div class="flex pb-4">
		<p class="text-xl font-bold">Проекты</p>
	</div>
	<div class="flex flex-col pb-4 md:flex-row">
		<div class="mb-4 basis-1 last:mr-0 md:mr-4 md:basis-1/3">
			<Project
				title="Yandex Music VS Code Extension"
				url="https://github.com/acherkashin/yandex-music-extension"
				description="Расширение позволяет наслаждаться прослушиванием Яндекс.Музыки прямо в вашем любимом редакторе кода."
				iconUrl='/project-icons/vscode-icon.png'
			/>
		</div>
		<div class="mb-4 basis-1 last:mr-0 md:mr-4 md:basis-1/3">
			<Project
				title="Yandex Music Open API"
				url="https://github.com/acherkashin/yandex-music-open-api"
				description="Swagger документация для Яндекс.Музыки."
				iconUrl='/project-icons/yandex-music-open-api-icon.svg'
			/>
		</div>
		<div class="mb-4 basis-1 last:mr-0 md:mr-4 md:basis-1/3">
			<Project
				title="Code Review Analyzer"
				url="https://github.com/acherkashin/codereview-analyzer"
				description="Позволяет анализировать пул реквесты и находить закономерности в поведении вашей команды."
				iconUrl='/project-icons/code-review-icon.png'
			/>
		</div>
	</div>
</Section>
