---
interface Props {
	title: string;
	content?: string;
}

const { title } = Astro.props;
---

<details class='bg-slate-800 bg-[rgb(41,37,36)]'>
    <summary class='p-4 px-9'>{title}</summary>
    <div class='pt-0 pb-4 px-[36px]'><slot /></div>
</details>